<template>
  <v-container style="text-align: center" fluid>
    <h1 class="display-3 mb-3">創立者</h1>
    <v-layout row wrap justify-space-around>
      <v-flex xs12 md3>
        <v-avatar size="160">
          <img src="../../assets/boy.png">
        </v-avatar>
        <h2 class="display-1">楊舒宇</h2>
        <h3 class="headline">總經理</h3>
        <h4 class="display-1">s1060345@mail.ncyu.edu.tw</h4>
      </v-flex>
      <v-flex xs12 md3>
        <v-avatar size="160">
          <img src="../../assets/boy.png">
        </v-avatar>
        <h2 class="display-1">黃文祿</h2>
        <h3 class="headline">顧問</h3>
        <h4 class="display-1">wlh@mail.ncyu.edu.tw</h4>
      </v-flex>
      <!-- <v-flex xs12 md3>
        <v-avatar size="160">
          <img src="../../assets/boy.png">
        </v-avatar>
        <h2 class="display-1">microARC</h2>
        <h3 class="headline">Chief Webapp Developer</h3>
      </v-flex> -->
    </v-layout>
    <v-card>
      <v-card-text class="display-3 mt-5">關於團隊</v-card-text>
      <v-flex xs10 offset-xs1>
      <v-divider></v-divider>
      </v-flex>
      <v-card-title class="subheading">{{ aboutTxt }}</v-card-title>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      aboutTxt: '團隊掌握單晶片開發、硬體開發、感測器與網路相關技術、結合產學合作之資源，運用學界技術與產業界市場通路實際雙軌執行，加速技術熟成。',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
