<template>
  <v-container>
    <v-layout wrap justify-center>
      <v-flex xs12 sm4>
        <v-alert v-if="!loginErr.success && Object.keys(loginErr).length !== 0"
          :value="true"
          type="error"
          class="mb-2"
          transition="scale-transition">
          {{ loginErr.msg }}
        </v-alert>
        <v-card>
          <v-card-title>
            <div>
              <h3 class="display-2 orange--text">Login</h3>
              <p class="headline">enjoy farming at its best！</p>
            </div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="username"
              :error-messages="unameErrors"
              label="username"
              type="text"
              required
              @input="$v.username.$touch()"
              @blur="$v.username.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="password"
              :error-messages="passwdErrors"
              label="password"
              type="password"
              required
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="orange" @click="login">Login</v-btn>
          </v-card-actions>
        </v-card>
        <div class="subheading pt-1">
          don't have an account yet?click
          <router-link :to="{ name: 'Register' }">here</router-link>
          to register!
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import { axios } from '@/store';

export default {
  data() {
    return {
      username: '',
      password: '',
      error: null,
      loginErr: {},
    };
  },
  validations: {
    username: { required },
    password: { required },
  },
  computed: {
    unameErrors() {
      const errors = [];
      if (!this.$v.username.$dirty) return errors;
      if (!this.$v.username.required) {
        errors.push('username required');
      }
      return errors;
    },
    passwdErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      if (!this.$v.password.required) {
        errors.push('password required');
      }
      return errors;
    },
  },
  methods: {
    async login() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        try {
          const response = await axios.post('/auth/login', {
            username: this.username,
            password: this.password,
          });
          await this.$store.dispatch('setUser', response.data);
          if (response.data.user.role === 'supreme') {
            this.$router.push({ name: 'UserList' });
          } else {
            this.$router.push({ name: 'Announcement' });
          }
        } catch (error) {
          this.loginErr = error.response.data;
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
