<template>
  <v-container fluid>
    <v-img :src="require('@/assets/banner.jpg')"></v-img>
    <v-layout row wrap justify-center>
      <v-btn large dark color="success" :to="{ name: 'Register' }">新增帳號</v-btn>
      <v-btn large outline color="primary" :to="{ name: 'Login' }">登錄</v-btn>
      <v-btn large dark color="info" :to="{ name: 'englishhome' }">English</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>
