<template>
  <v-container>
    <v-layout wrap justify-center>
      <v-flex xs12 sm4>
        <v-card>
          <v-card-title>
            <div>
              <h3 class="display-2 orange--text">新增帳號</h3>
              <p class="headline">加入探索美妙的農業世界</p>
            </div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="name"
              :error-messages="nameErrors"
              label="姓名"
              type="text"
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()">
            </v-text-field>
            <v-text-field
              v-model="email"
              :error-messages="emailErrors"
              label="E-mail"
              type="email"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()">
            </v-text-field>
            <v-text-field
              v-model="username"
              :error-messages="unameErrors"
              label="用戶名"
              type="text"
              required
              @input="$v.username.$touch()"
              @blur="$v.username.$touch()">
            </v-text-field>
            <v-text-field
              v-model="password"
              :error-messages="passwdErrors"
              label="密碼"
              type="password"
              required
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()">
            </v-text-field>
            <v-text-field
              v-model="rptpasswd"
              :error-messages="rptpasswdErrors"
              label="密碼確認"
              type="password"
              required
              @input="$v.rptpasswd.$touch()"
              @blur="$v.rptpasswd.$touch()">
            </v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="orange" @click="register()">新增帳號</v-btn>
          </v-card-actions>
        </v-card>
        <div class="subheading pt-1">
          已經有賬號了？點擊
          <router-link :to="{ name: 'Login' }">這裡</router-link>
          登錄!
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { required, email, minLength, sameAs, helpers } from 'vuelidate/lib/validators';
import { axios } from '@/store';

function isUnique(value) { // must return promise
  return new Promise(async (resolve, reject) => {
    let response = {};
    try {
      response = await axios.post('/users/validate', { username: value });
    } catch (e) {
      reject(e.response.data);
    }
    return resolve(!helpers.req(value) || response.data);
  });
}

export default {
  data() {
    return {
      name: '',
      email: '',
      username: '',
      password: '',
      rptpasswd: '',
      error: null,
    };
  },
  validations: {
    name: { required },
    email: { required, email },
    username: { required, isUnique }, // create custom `isUnique` validator
    password: { required, minLength: minLength(8) },
    rptpasswd: { required, sameAsPassword: sameAs('password') },
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      if (!this.$v.name.required) {
        errors.push('name required');
      }
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      if (!this.$v.email.email) {
        errors.push('must be valid email');
      } else if (!this.$v.email.required) {
        errors.push('email required');
      }
      return errors;
    },
    unameErrors() {
      const errors = [];
      if (!this.$v.username.$dirty) return errors;
      if (!this.$v.username.required) {
        errors.push('username required');
      
} else if (!this.$v.username.isUnique) {
        errors.push('username must be unique');
      }
      return errors;
    },
    passwdErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      if (!this.$v.password.required) {
        errors.push('password required');
      } else if (!this.$v.password.minLength) {
        errors.push('password must be more than 8 characters');
      }
      return errors;
    },
    rptpasswdErrors() {
      const errors = [];
      if (!this.$v.rptpasswd.$dirty) return errors;
      if (!this.$v.rptpasswd.required) {
        errors.push('password required');
      } else if (!this.$v.rptpasswd.sameAsPassword) {
        errors.push('password must be the same');
      }
      return errors;
    },
  },
  methods: {
    async register() {
      // check if all values are valid
      this.$v.$touch();
      if (!this.$v.$invalid) {
        try {
          await axios.post('/auth/register', {
            name: this.name,
            email: this.email,
            username: this.username,
            password: this.password,
          });
          this.$router.push({ name: 'Login' });
        } catch (error) {
          this.error = error.response.data;
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
