<template>
  <div id="header">
    <v-navigation-drawer
      v-if="sensorId || user.role === 'supreme'"
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app>
      <v-list dense>
        <v-layout column wrap v-if="user.role === 'supreme'">
          <v-subheader>general management</v-subheader>
          <v-list-tile :to="{ name: 'UserList' }">
            <v-list-tile-action>
              <v-icon>people</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>users</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile :to="{ name: 'EditAnnc' }">
            <v-list-tile-action>
              <v-icon>speaker_notes</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>announcements</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-layout>
        <v-layout column wrap>
          <v-subheader>田區設定</v-subheader>
          <v-list-tile
            :to="{ name: 'SiteDetails', params: { username: user.username, sensorId: sensorId } }">
            <v-list-tile-action>
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>田區詳情</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            :to="{ name: 'SiteConfig', params: { username: user.username, sensorId: sensorId } }">
            <v-list-tile-action>
              <v-icon>assignment</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>設定</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            :to="{ name: 'SiteControls', params: { username: user.username, sensorId: sensorId } }">
            <v-list-tile-action>
              <v-icon>build</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>環境控制</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-layout>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      fixed
      app>
      <v-toolbar-side-icon
        v-if="sensorId || user.role === 'supreme'"
        @click.stop="drawer = !drawer">
      </v-toolbar-side-icon>
      <v-toolbar-title>
       <a href ="http://www.olivia-agri-tech.com/">
       <button>首頁</button>
       </a>

      </v-toolbar-title>
      
    </v-toolbar>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      drawer: this.sensorId,
    };
  },
  computed: {
    ...mapState(['user', 'sensorId', 'isLoggedIn']),
  },
  methods: {
    logout() {
      this.$store.dispatch('removeToken');
      // this.$store.dispatch('deselectSensor');
      this.$router.push({ name: 'Login' });
    },
    showFieldList() {
      this.$store.dispatch('deselectSensor');
      this.drawer = false;
      this.$router.push({ name: 'FieldList', params: this.user });
    },
    backHome() {
      this.$store.dispatch('deselectSensor');
      this.drawer = false;
      this.$router.push({ name: 'Home' });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#home {
  color: inherit;
  cursor: pointer;
}
#home:hover {
  opacity: 0.8;
}
</style>
