<template>
  <div>
    <page-header></page-header>
    <v-content>
      <router-view></router-view>
    </v-content>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader';

export default {
  components: {
    PageHeader,
  },
  data() {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
