<template>
  <v-container>
    <h1>阿甘感測器數值</h1>
    <p class="subheading text--secondary">{{ dateStr }}</p>
    <v-divider class="mb-3"></v-divider>
    <v-layout row wrap justify-space-between>
      <v-flex xs12 md7>
        <v-card height="100%">
          <v-card-title>
            <p class="title">感測器圖表</p>
          </v-card-title>
          <v-card-text>
            <line-chart :chart-data="collection" :height="300"></line-chart>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md4>
        <v-layout column fill-height>
          <v-flex md8>
            <v-card>
              <v-card-title class="headline">plot controls</v-card-title>
              <!-- <v-card-text>change display of data</v-card-text> -->
              <v-container>
                <v-layout row justify-space-between>
                  <v-flex xs12>
                    <p class="subheading">時間單位</p>
                  </v-flex>
                  <v-flex xs12>
                    <v-btn-toggle v-model="query.step">
                      <v-btn flat value="hour">小時</v-btn>
                      <v-btn flat value="day">天</v-btn>
                      <v-btn flat value="month">月</v-btn>
                    </v-btn-toggle>
                  </v-flex>
                </v-layout>
                <v-layout row justify-space-between>
                  <v-flex xs12>
                    <p class="subheading">範圍</p>
                  </v-flex>
                  <v-flex xs12>
                    <v-slider
                      v-model="query.range"
                      thumb-label
                      :min="3"
                      :max="sliderMax">
                    </v-slider>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex md4>
            <v-data-table
              :headers="tableHeaders"
              :items="currentData"
              hide-actions
              class="elevation-1">
              <template slot="items" slot-scope="props">
                <tr style="cursor: pointer" @click="show(props.item)">
                  <td>{{ props.item.cname }}</td>
                  <td>{{ props.item.status }}</td>
                  <td class="text-xs-right">{{ props.item.data }}</td>
                </tr>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { axios } from '@/store';
import LineChart from '@/components/app-components/LineChart';
export default {
  components: {
    LineChart,
  },
  data() {
    return {
      sensors: {},
      collection: {},
      tableHeaders: [
        { text: '感測器', value: 'name' },
        { text: '狀態', value: 'status', sortable: false },
        { text: '最新數值', value: 'data', sortable: false },
      ],
      date: new Date(),
      query: {
        step: 'hour',
        range: 6,
        sensor: 'CH3CH2OH',
      },
    };
  },
  computed: {
    
    // format sensor data to table form
    currentData() {
      // get iterable key value pairs
      const entries = Object.entries(this.sensors);
      const curr = [];
      const cname = [];
     

      for (let i = 0; i < entries.length; i += 1) {
        const genericName = entries[i][0].replace('_', ' ');
        if (genericName === 'CH3CH2OH') {
            cname[i] = '酒精（CH3CH2OH）';
          } else if (genericName == 'id num') {
            cname[i] = '編號（id num）';
          } else if (genericName === 'temperature') {
            cname[i] ='溫度（temperature）';
            if(entries[i][1]>0){
              if (this.$route.params.sensorId == '1A') {
        entries[i][1] = this.limitfunc(entries[i][1] -3);
    }
            else if (this.$route.params.sensorId == '1B') {
        entries[i][1] = this.limitfunc(entries[i][1] +2);
    }
    else if (this.$route.params.sensorId == '1C') {
        
        entries[i][1] = this.limitfunc(entries[i][1] );
    }
    else if (this.$route.params.sensorId == '1D') {    
        entries[i][1] = this.limitfunc(entries[i][1] +1);
    }
    else if (this.$route.params.sensorId == '1E') {
        entries[i][1] = this.limitfunc(entries[i][1] +3);
    }
    else if (this.$route.params.sensorId == '1F') {
        entries[i][1] = this.limitfunc(entries[i][1] -1);
      
    }
    else if (this.$route.params.sensorId == '1G') {
     
        entries[i][1] = this.limitfunc(entries[i][1] +4);
        
     
    }
    else if (this.$route.params.sensorId == '1H') {
     
        entries[i][1] = this.limitfunc(entries[i][1] +2);
      
    }
    else if (this.$route.params.sensorId == '2A') {
     
        entries[i][1] = this.limitfunc(entries[i][1] -2);
      
    }
    else if (this.$route.params.sensorId == '2B') {
      
        entries[i][1] = this.limitfunc(entries[i][1] -3);
       
    }
    else if (this.$route.params.sensorId == '2C') {
      
        entries[i][1] = this.limitfunc(entries[i][1] -4);
       
    }
    else if (this.$route.params.sensorId == '2D') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 2);
       
    }
    else if (this.$route.params.sensorId == '2E') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 2);
       
    }
    else if (this.$route.params.sensorId == '2F') {
      
        entries[i][1] = this.limitfunc(entries[i][1] -4);
      
    }
    else if (this.$route.params.sensorId == '2G') {
      
        entries[i][1] = this.limitfunc(entries[i][1]);
       
    }
    else if (this.$route.params.sensorId == '2H') {
     
        entries[i][1] = this.limitfunc(entries[i][1]);
      
    }
    else if (this.$route.params.sensorId == '3A') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 2);
       
    }
    else if (this.$route.params.sensorId == '3B') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 2);
       
    }
    else if (this.$route.params.sensorId == '4A') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 2);
       
    }
    else if (this.$route.params.sensorId == '4B') {
    
        entries[i][1] = this.limitfunc(entries[i][1] - 2);
       
    }
            }
            
            
          } else if (genericName === 'humidity') {
            cname[i] = '濕度（humidity）';
              if(entries[i][1]>0){
                if (this.$route.params.sensorId == '1A') {
        entries[i][1] = this.limitfunc(entries[i][1] + 39);
    }
            else if (this.$route.params.sensorId == '1B') {
        entries[i][1] = this.limitfunc(entries[i][1] + 3);
    }
    else if (this.$route.params.sensorId == '1C') {
        
        entries[i][1] = this.limitfunc(entries[i][1] +1);
    }
    else if (this.$route.params.sensorId == '1D') {    
        entries[i][1] = this.limitfunc(entries[i][1] +15);
    }
    else if (this.$route.params.sensorId == '1E') {
        entries[i][1] = this.limitfunc(entries[i][1] );
    }
    else if (this.$route.params.sensorId == '1F') {
     
        entries[i][1] = this.limitfunc(entries[i][1] +3);
      
    }
    else if (this.$route.params.sensorId == '1G') {
     
        entries[i][1] = this.limitfunc(entries[i][1] );
        
     
    }
    else if (this.$route.params.sensorId == '1H') {
     
        entries[i][1] = this.limitfunc(entries[i][1] +2);
      
    }
    else if (this.$route.params.sensorId == '2A') {
     
        entries[i][1] = this.limitfunc(entries[i][1] +26);
      
    }
    else if (this.$route.params.sensorId == '2B') {
      
        entries[i][1] = this.limitfunc(entries[i][1] + 16);
       
    }
    else if (this.$route.params.sensorId == '2C') {
      
        entries[i][1] = this.limitfunc(entries[i][1] +34);
       
    }
    else if (this.$route.params.sensorId == '2D') {
      
        entries[i][1] = this.limitfunc(entries[i][1] +15);
       
    }
    else if (this.$route.params.sensorId == '2E') {
      
        entries[i][1] = this.limitfunc(entries[i][1] +12);
       
    }
    else if (this.$route.params.sensorId == '2F') {
      
        entries[i][1] = this.limitfunc(entries[i][1] +11);
      
    }
    else if (this.$route.params.sensorId == '2G') {
      
        entries[i][1] = this.limitfunc(entries[i][1]+10);
       
    }
    else if (this.$route.params.sensorId == '2H') {
     
        entries[i][1] = this.limitfunc(entries[i][1] );
      
    }
    else if (this.$route.params.sensorId == '3A') {
      
        entries[i][1] = this.limitfunc(entries[i][1] +4);
       
    }
    else if (this.$route.params.sensorId == '3B') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 6);
       
    }
    else if (this.$route.params.sensorId == '4A') {
      
        entries[i][1] = this.limitfunc(entries[i][1] - 8);
       
    }
    else if (this.$route.params.sensorId == '4B') {
    
        entries[i][1] = this.limitfunc(entries[i][1] - 8);
       
    }
              }
            } else if (genericName === 'co2') {
            cname[i] = '二氧化碳(co2)';
          } else if (genericName === 'status') {
            cname[i] = '狀態（status）';
          }else {
            cname[i] = '其他數據';
          }

        curr.push({
          status: 'online', // this should be dynamic in the future
          name: genericName,
          cname: cname[i],
          data: entries[i][1],
        });
      }
      return curr;
    },
    // making sure slider does not go out of bounds
    sliderMax() {
      let rangeMax = 24;
      switch (this.query.step) {
        case 'hour':
          rangeMax = 24;
          break;

        case 'day':
          rangeMax = 30;
          break;

        case 'month':
          rangeMax = 12;
          break;

        default:
          break;
      }
      return rangeMax;
    },
    dateStr() {
      const y = this.date.getFullYear();
      let M = this.date.getMonth() + 1;
      M = (M < 10 ? '0' : '') + M;
      const d = this.date.getDate();
      const h = this.date.getHours();
      const m = this.date.getMinutes();

      return `last updated: ${y}/${M}/${d} ${h}:${m}`;
    },
  },
  watch: {
    // get data everytime `query` object changes
    query: {
      async handler(val) {
        const queryStr = `step=${val.step}`
                    + `&range=${val.range}`
                    + `&sensor=${val.sensor}`;
        const plotset = await axios.get(`/sites/${this.$route.params.sensorId}/agan/data?${queryStr}`);
        this.collection = {
          labels: plotset.data.labels,
          datasets: [{
            label: this.query.sensor,
            data: plotset.data.dataset,
            borderColor: 'rgba(77, 182, 172, 1)',
            fill: false,
            spanGaps: true,
          }],
        };
      },
      deep: true,
    },
  },
  methods: {
    // switch plot to selected sensor
    async show(sensor) {
      const key = sensor.name.replace(' ', '_');
      this.query.sensor = key;
    },

  },
  async created() {
    // get current data
    const response = await axios.get(`/sites/${this.$route.params.sensorId}/agan/data`);
    this.sensors = response.data[0];
    // show default plot
    const queryStr = `step=${this.query.step}`
                + `&range=${this.query.range}`
                + `&sensor=${this.query.sensor}`;
    const plotset = await axios.get(`/sites/${this.$route.params.sensorId}/agan/data?${queryStr}`);
    this.collection = {
      labels: plotset.data.labels,
      datasets: [{
        label: this.query.sensor,
        data: plotset.data.dataset,
        borderColor: 'rgba(77, 182, 172, 1)',
        fill: false,
        spanGaps: true,
      }],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
