<template>
  <v-container>
    <v-layout row wrap justify-space-between>
      <h1 class="display-1">公告</h1>
      <!-- <v-spacer></v-spacer> -->
      <v-btn v-if="user.role === 'supreme'" flat color="orange" @click="addAnnc()">
        <v-icon>add</v-icon>add new announcement
      </v-btn>
    </v-layout>
    <v-list two-line>
      <v-layout v-for="(annc, index) in announcements" :key="index" column>
        <v-divider v-if="index"></v-divider>
        <v-list-tile @click="showDetails(annc)">
          <v-list-tile-content>
            <v-list-tile-title class="title">{{ annc.title }}</v-list-tile-title>
            <v-list-tile-sub-title class="text--primary">
              {{ annc.body }}
            </v-list-tile-sub-title>
            <v-list-tile-sub-title>{{ annc.date }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <delete-btn path="/home" v-if="user.role === 'supreme'"
              :title="annc.title"
              :items.sync="announcements"
              :item-id="index">
            </delete-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-layout>
    </v-list>
    <!-- editor dialog -->
    <v-dialog v-model="editor.dialog" max-width="500">
      <v-card>
        <v-container>
          <v-text-field solo label="title of announcement" v-model="editing.title"></v-text-field>
          <v-textarea solo label="enter context" v-model="editing.body"></v-textarea>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="save()">save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- details dialog -->
    <v-dialog v-model="detailsDialog" max-width="500">
      <v-card>
        <v-card-title class="display-1">{{ editing.title }}</v-card-title>
        <v-card-text class="headline">{{ editing.body }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="detailsDialog = false">close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';
import { axios } from '@/store';
import DeleteBtn from '@/components/app-components/DeleteBtn';

function formatDate(isoStr) {
  const dArr = isoStr.split(/\D+/);
  return `${dArr[0]}/${dArr[1]}/${dArr[2]} ${dArr[3]}:${dArr[4]}`;
}

export default {
  components: { DeleteBtn },
  name: 'Home',
  data() {
    return {
      announcements: [],
      editor: { dialog: false, mode: 'add' }, // mode: add or edit
      detailsDialog: false,
      deleteDialog: [],
      editing: {},
      error: null,
    };
  },
  computed: {
    ...mapState(['user']),
  },
  methods: {
    addAnnc() {
      this.editing = { title: '', body: '' };
      this.editor = { dialog: true, mode: 'add' };
    },
    async save() {
      let response = null;
      try {
        response = await axios.post(`/home/${this.editor.mode}`, this.editing);
      } catch (e) {
        this.error = e;
      }
      if (this.editor.mode === 'add') {
        const newAnnc = response.data;
        newAnnc.date = formatDate(newAnnc.date);
        this.announcements.unshift(newAnnc);
      }
      this.editor.dialog = false;
    },
    showDetails(annc) {
      this.editing = annc;
      if (this.user.role === 'supreme') {
        this.editor = { dialog: true, mode: 'edit' };
      } else {
        this.detailsDialog = true;
      }
    },
  },
  async created() {
    try {
      const response = await axios.get('/home');
      this.announcements = response.data;
      this.deleteDialog = Array(response.data.length);
      this.deleteDialog.fill(false, 0);
      this.announcements.forEach((annc, idx) => {
        const formattedDate = formatDate(annc.date);
        this.announcements[idx].date = formattedDate;
      });
    } catch (e) {
      this.error = e.response.data;
      if (e.response.status === 401) {
        this.$router.push({ name: 'Login' });
      }
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
