<template>
  <v-dialog v-model="dialog" width="300">
    <v-btn flat icon color="red" slot="activator">
      <v-icon>刪除</v-icon>
    </v-btn>
    <v-card>
      <v-card-title>
        <p>真的要刪除嘛？<strong> {{ title }}</strong>?</p>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn outline @click="dialog = false">取消</v-btn>
        <v-btn color="error" @click="deleteItem()">是的</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { axios } from '@/store';

export default {
  data() {
    return {
      dialog: false,
      error: null,
    };
  },
  props: ['title', 'path', 'items', 'itemId'],
  methods: {
    async deleteItem() {
      try {
        await axios.delete(this.path, { data: this.items[this.itemId] });
      } catch (e) {
        this.error = e;
      }
      this.$delete(this.items, this.itemId);
      this.dialog = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
