<template>
  <v-container>
    <!-- header & dialog block -->
    <v-layout row wrap justify-space-between>
      <h1 class="display-1">sites</h1>
      <v-dialog v-model="dialog" width="500">
        <v-btn flat color="orange" slot="activator">
          <v-icon>add</v-icon>增加新的田區
        </v-btn>
        <v-card>
          <v-card-title class="title text--blue">register a new sensor</v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm4 pl-2>
                <v-text-field
                  v-model="lat"
                  :error-messages="latErrors"
                  label="latitude"
                  type="text"
                  required
                  @input="$v.lat.$touch()"
                  @blur="$v.lat.$touch()">
                </v-text-field>
              </v-flex>
              <v-flex xs12 sm4 pl-2>
                <v-text-field
                  v-model="lon"
                  :error-messages="lonErrors"
                  label="longitude"
                  type="text"
                  required
                  @input="$v.lon.$touch()"
                  @blur="$v.lon.$touch()">
                </v-text-field>
              </v-flex>
            </v-layout>
            <v-text-field
              v-model="landNumber"
              :error-messages="landErrors"
              label="Land Number"
              type="text"
              required
              @input="$v.landNumber.$touch()"
              @blur="$v.landNumber.$touch()">
            </v-text-field>
            <v-text-field
              v-model="plant"
              :error-messages="plantErrors"
              label="plantation"
              type="text"
              required
              @input="$v.plant.$touch()"
              @blur="$v.plant.$touch()">
            </v-text-field>
            <v-text-field
              v-model="ara"
              :error-messages="araErrors"
              label="area"
              type="text"
              required
              @input="$v.ara.$touch()"
              @blur="$v.ara.$touch()">
            </v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click="closeDialog()">cancel</v-btn>
            <v-btn color="green" flat @click="addSite()">add</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <!-- grid list to show all sites of user -->
    <v-layout>
      <v-container fluid grid-list-sm>
        <v-layout row wrap>
          <v-flex v-for="(site, index) in sites" :key="index" xs12 sm4>
            <v-card class="flexcard" height="100%">
              <v-card-text class="grow">
                <p class="title">
                  @( {{ site.location[0] }}&deg;N, {{ site.location[1] }}&deg;E )
                </p>
                <p class="subheading">{{ site.landNumber }}</p>
              </v-card-text>
              <v-card-actions>
                <v-layout row align-center>
                  <v-subheader class="caption">
                    <v-icon color="success">fiber_manual_record</v-icon>online
                  </v-subheader>
                  <v-spacer></v-spacer>
                  <delete-btn
                    path="/users/sites/delete"
                    :title="site.landNumber"
                    :items.sync="sites"
                    :item-id="index">
                  </delete-btn>
                  <v-btn flat color="teal" @click="showDetails(site)">
                    詳情
                  </v-btn>
                </v-layout>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import { required, decimal } from 'vuelidate/lib/validators';
import { axios } from '@/store';
import DeleteBtn from '@/components/app-components/DeleteBtn';

export default {
  components: { DeleteBtn },
  data() {
    return {
      error: null, // dummy error
      dialog: false,
      sites: [], // all sites owned by user
      lon: null, // longitude
      lat: null, // latitude
      ara: null, // area of field
      landNumber: '',
      plant: '', // plantation type
    };
  },
  validations: {
    lon: { required, decimal },
    lat: { required, decimal },
    landNumber: { required },
    ara: { required, decimal },
    plant: { required },
  },
  computed: {
    latErrors() {
      const errors = [];
      if (!this.$v.lat.$dirty) return errors;
      if (!this.$v.lat.required) {
        errors.push('latitude is required');
      } else if (!this.$v.lat.decimal) {
        errors.push('value must only contain decials');
      }
      return errors;
    },
    lonErrors() {
      const errors = [];
      if (!this.$v.lon.$dirty) return errors;
      if (!this.$v.lon.required) {
        errors.push('longitude is required');
      } else if (!this.$v.lon.decimal) {
        errors.push('value must only contain decials');
      }
      return errors;
    },
    araErrors() {
      const errors = [];
      if (!this.$v.ara.$dirty) return errors;
      if (!this.$v.ara.required) {
        errors.push('longitude is required');
      } else if (!this.$v.ara.decimal) {
        errors.push('value must only contain decials');
      }
      return errors;
    },
    landErrors() {
      const errors = [];
      if (!this.$v.landNumber.$dirty) return errors;
      if (!this.$v.landNumber.required) {
        errors.push('lontitude is required');
      }
      return errors;
    },
    plantErrors() {
      const errors = [];
      if (!this.$v.plant.$dirty) return errors;
      if (!this.$v.plant.required) {
        errors.push('lontitude is required');
      }
      return errors;
    },
  },
  methods: {
    async addSite() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        try {
          const response = await axios.post('/users/sites/add', {
            location: [this.lat, this.lon],
            landNumber: this.landNumber,
            area: this.ara,
            plantation: this.plant,
          });
          this.sites.push(response.data);
          this.dialog = false;
        } catch (e) {
          this.error = e.response.data;
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.$v.$reset();
    },
    showDetails(site) {
      this.$store.dispatch('selectSensor', site.sensorId);
      this.$router.push({
        name: 'SiteDetails',
        params: {
          sensorId: site.sensorId,
        },
      });
    },
  },
  async created() {
    try {
      const response = await axios.get('/users/sites');
      this.sites = response.data;
    } catch (e) {
      if (e.response.status === 401) {
        this.error = 'login session expired';
        this.$store.dispatch('removeToken');
        this.$router.push({ name: 'Login' });
      } else {
        this.error = e.response.data;
      }
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.flexcard {
  display: flex;
  flex-direction: column;
}
</style>
