<template>
  <v-container>
    <h1>嘉義大學感測器數值</h1>
    <p class="subheading text--secondary">{{ dateStr }}</p>
    <v-divider class="mb-3"></v-divider>
    <v-layout row wrap justify-space-between>
      <v-flex xs12 md7>
        <v-card height="100%">
          <v-card-title>
            <p class="title">感測器圖表</p>
          </v-card-title>
          <v-card-text>
            <line-chart :chart-data="collection" :height="300"></line-chart>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md4>
        <v-layout column fill-height>
          <v-flex md8>
            <v-card>
              <v-card-title class="headline">plot controls</v-card-title>
              <!-- <v-card-text>change display of data</v-card-text> -->
              <v-container>
                <v-layout row justify-space-between>
                  <v-flex xs12>
                    <p class="subheading">時間單位</p>
                  </v-flex>
                  <v-flex xs12>
                    <v-btn-toggle v-model="query.step">
                      <v-btn flat value="hour">小時</v-btn>
                      <v-btn flat value="day">天</v-btn>
                      <v-btn flat value="month">月</v-btn>
                    </v-btn-toggle>
                  </v-flex>
                </v-layout>
                <v-layout row justify-space-between>
                  <v-flex xs12>
                    <p class="subheading">範圍</p>
                  </v-flex>
                  <v-flex xs12>
                    <v-slider
                      v-model="query.range"
                      thumb-label
                      :min="3"
                      :max="sliderMax">
                    </v-slider>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex md4>
            <v-data-table
              :headers="tableHeaders"
              :items="currentData"
              hide-actions
              class="elevation-1">
              <template slot="items" slot-scope="props">
                <tr style="cursor: pointer" @click="show(props.item)">
                  <td>{{ props.item.name }}</td>
                  <td>{{ props.item.status }}</td>
                  <td class="text-xs-right">{{ props.item.data }}</td>
                </tr>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { axios } from '@/store';
import LineChart from '@/components/app-components/LineChart';
export default {
  components: {
    LineChart,
  },
  data() {
    return {
      sensors: {},
      collection: {},
      tableHeaders: [
        { text: '感測器', value: 'name' },
        { text: '狀態', value: 'status', sortable: false },
        { text: '最新數值', value: 'data', sortable: false },
      ],
      date: new Date(),
      query: {
        step: 'hour',
        range: 6,
        sensor: 'co2',
      },
    };
  },
  computed: {
    // format sensor data to table form
    currentData() {
      // get iterable key value pairs
      const entries = Object.entries(this.sensors);
      const curr = [];
      const cname = [];
      // const cname = ['電導率', '濕度', '編號', '亮度', '酸鹼值', '土壤濕度1', '土壤濕度2', '土壤濕度3', '土壤濕度4', '土壤溫度', '溫度']

      for (let i = 0; i < entries.length; i += 1) {
        const genericName = entries[i][0].replace('_', ' ');
        if (genericName === 'ec') {
            cname[i] = '電導度';
          } else if (genericName === 'ph') {
            cname[i] = '酸鹼值';
          } else if (genericName == 'id num') {
            cname[i] = '編號';
          } else if (genericName === 'luminance') {
            cname[i] = '亮度';
          } else if (genericName == 'soil temperature') {
            cname[i] = '溫室溫度';
          } else if (genericName === 'temperature') {
            cname[i] =' 設備溫度';
          } else if (genericName == 'soil moisture2') {
            cname[i] = '土壤濕度2';
          } else if (genericName == 'soil moisture3') {
            cname[i] = '土壤濕度3';
          } else if (genericName == 'soil moisture1') {
            cname[i] = '土壤濕度1';
          } else if (genericName == 'soil moisture4') {
            cname[i] = '溫室濕度';
          } else if (genericName === 'humidity') {
            cname[i] = '設備濕度';
          } else {
            cname[i] = '其他數據';
          }

        curr.push({
          status: 'online', // this should be dynamic in the future
          name: genericName,
          cname: cname[i],
          data: entries[i][1],
        });
      }
      return curr;
    },
    // making sure slider does not go out of bounds
    sliderMax() {
      let rangeMax = 24;
      switch (this.query.step) {
        case 'hour':
          rangeMax = 24;
          break;

        case 'day':
          rangeMax = 30;
          break;

        case 'month':
          rangeMax = 12;
          break;

        default:
          break;
      }
      return rangeMax;
    },
    dateStr() {
      const y = this.date.getFullYear();
      let M = this.date.getMonth() + 1;
      M = (M < 10 ? '0' : '') + M;
      const d = this.date.getDate();
      const h = this.date.getHours();
      const m = this.date.getMinutes();

      return `last updated: ${y}/${M}/${d} ${h}:${m}`;
    },
  },
  watch: {
    // get data everytime `query` object changes
    query: {
      async handler(val) {
        const queryStr = `step=${val.step}`
                    + `&range=${val.range}`
                    + `&sensor=${val.sensor}`;
        const plotset = await axios.get(`/sites/${this.$route.params.sensorId}/ncyu/data?${queryStr}`);
        this.collection = {
          labels: plotset.data.labels,
          datasets: [{
            label: this.query.sensor,
            data: plotset.data.dataset,
            borderColor: 'rgba(77, 182, 172, 1)',
            fill: false,
            spanGaps: true,
          }],
        };
      },
      deep: true,
    },
  },
  methods: {
    // switch plot to selected sensor
    async show(sensor) {
      const key = sensor.name.replace(' ', '_');
      this.query.sensor = key;
    },
  },
  async created() {
    // get current data
    const response = await axios.get(`/sites/${this.$route.params.sensorId}/ncyu/data`);
    this.sensors = response.data[0];
    // show default plot
    const queryStr = `step=${this.query.step}`
                + `&range=${this.query.range}`
                + `&sensor=${this.query.sensor}`;
    const plotset = await axios.get(`/sites/${this.$route.params.sensorId}/ncyu/data?${queryStr}`);
    this.collection = {
      labels: plotset.data.labels,
      datasets: [{
        label: this.query.sensor,
        data: plotset.data.dataset,
        borderColor: 'rgba(77, 182, 172, 1)',
        fill: false,
        spanGaps: true,
      }],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
