<template>
  <v-container>
    <h1 class="mt-3">boundaries</h1>
    <v-divider class="mb-3"></v-divider>
    <v-card>
      <v-container fluid>
        <!-- iterate this!! -->
        <v-layout
          row wrap justify-space-between
          v-for="(conf, key) in config" :key="key"
          v-if="key !== '_id' && key !== 'name'">
          <v-flex xs12 md2>
            <p class="title">{{ genericTitle(key) }}</p>
          </v-flex>
          <v-flex xs12 md6 mr-4>
            <v-range-slider
              v-model="config[key]"
              :min="constraints[key][0]"
              :max="constraints[key][1]"
              :step="constraints[key][2]">
            </v-range-slider>
          </v-flex>
          <v-flex xs12 md1 ml-2 v-for="(val, index) in conf" :key="index">
            <v-text-field
              label="min"
              single-line
              solo
              readonly
              v-model="conf[index]">
            </v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-btn color="info" @click="saveConfig">save</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { axios } from '@/store';

export default {
  data() {
    return {
      constraints: {
        // structured as [min, max, step]
        humidity: [0, 100, 5],
        temperature: [-40, 50, 1],
        soil_moisture: [0, 100, 5],
        soil_temperature: [-40, 50, 1],
        luminance: [0, 1000, 100],
        ph: [0, 14, 0.5],
        ec: [0, 5, 1],
      },
      config: {},
      error: '',
    };
  },
  methods: {
    async saveConfig() {
      try {
        await axios.post(`/sites/${this.$route.params.sensorId}/params/edit`, this.config);
      } catch (e) {
        this.error = e;
      }
    },
    genericTitle(key) {
      let title = '';
      if (key.length <= 2) {
        title = key.toUpperCase();
      } else {
        title = key.replace('_', ' ');
      }
      return title;
    },
  },
  async created() {
    const response = await axios.get(`/sites/${this.$route.params.sensorId}/params`);
    this.config = response.data;
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
