<template>
  <v-container>
    <h1>環境控制</h1>
    <v-list>
      <v-layout v-for="(value, key, index) in controls" :key="key" column>
        <v-divider v-if="index"></v-divider>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{ key }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-layout row wrap align-content-start>
            <v-switch
              v-model="controls[key]">
            </v-switch>
            </v-layout>
          </v-list-tile-action>
        </v-list-tile>
      </v-layout>
    </v-list>
  </v-container>
</template>

<script>
import { axios } from '@/store';

export default {
  data() {
    return {
      controls: null,
      error: null,
    };
  },
  watch: {
    controls: {
      async handler(val) {
        const sid = this.$route.params.sensorId;
        try {
          await axios.post(`/sites/${sid}/control`, val);
        } catch (e) {
          this.error = e;
        }
      },
      deep: true,
    },
  },
  async created() {
    const sid = this.$route.params.sensorId;
    try {
      const response = await axios.get(`/sites/${sid}/control`);
      this.controls = response.data;
    } catch (e) {
      this.error = e;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
