<template>
  <v-container>
    <v-list two-line>
      <v-layout v-for="(user, index) in users" :key="index" column>
        <v-divider v-if="index"></v-divider>
        <v-list-tile @click="showInfo(user)">
          <v-list-tile-content>
            <v-list-tile-title class="font-weight-bold">{{ user.name }}</v-list-tile-title>
            <v-list-tile-sub-title class="text--primary">{{ user.username }}</v-list-tile-sub-title>
            <v-list-tile-sub-title>{{ user.role }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn flat icon color="amber" @click="togglePromote(user, index)">
              <v-icon v-if="user.role === 'supreme'">star</v-icon>
              <v-icon v-else>star_border</v-icon>
            </v-btn>
            <delete-btn
              path="/users/delete"
              :title="user.username"
              :items.sync="users"
              :item-id="index">
            </delete-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-layout>
    </v-list>
    <!-- full user info dialog -->
    <v-dialog v-model="infoDialog" max-width="500">
      <v-card>
        <v-card-title class="display-1">{{ user.name }}</v-card-title>
          <v-list>
            <v-list-tile
              v-for="(value, key) in user" :key="key">
              <v-list-tile-content>
                <v-list-tile-title class="subheading font-weight-bold">
                  {{ key }}
                </v-list-tile-title>
                <v-list-tile-sub-title>{{ value }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title class="subheading font-weight-bold">
                  sites
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(site, index) in userSites" :key="index">
              <v-list-tile-content>
                <v-list-tile-title>{{ site.landNumber }}</v-list-tile-title>
                <v-list-tile-sub-title>sensorId: {{ site.sensorId }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            
            
          </v-list>
        <!-- </v-card-text> -->
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="infoDialog = false">close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { axios } from '@/store';
import DeleteBtn from '@/components/app-components/DeleteBtn';

export default {
  components: { DeleteBtn },
  data() {
    return {
      users: [], // all users
      user: {}, // current user being shown
      userSites: [], // selected user sites
      infoDialog: false,
      error: null,
    };
  },
  methods: {
    async togglePromote(user, idx) {
      let response = null;
      try {
        response = await axios.post('/users/role/toggle', user);
      } catch (e) {
        this.error = e;
      }
      this.$set(this.users, idx, response.data);
    },
    async showInfo(user) {
      this.user = user;
      // request user sites
      const response = await axios.get(`/users/sites?username=${user.username}`);
      this.userSites = response.data;
      this.infoDialog = true;
    },
  
  },
  async created() {
    try {
      const response = await axios.get('/users/list');
      this.users = response.data;
    } catch (e) {
      this.error = e;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
